@import '../../settings.scss';

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    max-height: 860px;
    padding-left: 0;
    font-size: 24px;
    font: $font-standard;
    line-height: 36px;
    overflow: auto;
    background: linear-gradient(to top, #d4e4ef 0%, #bdc1cc 100%);

    &.font-decreased{
        font-size: 16px;
    }

    p{
        display: block;
        width: 80%;
        height: 100%;
        text-shadow: #8d8d8d 1px 0 10px;
        overflow: auto;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    p {
        font-size: 20px;
    }
}

@media screen and (max-width: 440px) {
    p {
        font-size: 12px;
    }
}
